

<h1>Log in</h1>

<div>
	<div>
		<%= form_for(:session, url: login_path) do |f| %> 
			<%= f.label :email %>
			<%= f.email_field :email, class: 'input-control' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'input-control' %>

			<%= f.submit "Log in", class: 'btn btn-primary'%>
		<% end %>

		<p>Are you a new user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>

